
#section1{
    background-color:lightgreen;
    width:500px;
    height:90vh;
    color:black;
    font-weight: bold;
    font-size:14px;
    box-shadow:4px 4px 4px 4px blue;
    border:2px 2px 2px 2px solid blue;
    cursor:pointer;
}
input[type="text"] {
    box-shadow: 2px 2px 2px 2px blue;
}
input[type="password"] {
    box-shadow: 2px 2px 2px 2px blue;
}
select{
    box-shadow: 2px 2px 2px 2px blue;
    cursor:pointer;
}
input[type="tel"]{
    box-shadow: 2px 2px 2px 2px blue;
}
input[type="email"]{
    box-shadow: 2px 2px 2px 2px blue;
}
input[type="number"]{
    box-shadow: 2px 2px 2px 2px blue;
}


#Envoyer{
    cursor: pointer;
    padding: 5px;
    border: 1px solid green;
    color:black;
    box-shadow: 2px 2px 2px 2px blue;
    font-weight:bold;
}
#Envoyer:hover{
    background-color: yellow;
    color:black;
    border-radius:12px;
}
a{
    color: blue;
}
input{
    display: block;
}